:root {
    --Amarelo-fundo: #FCC34F;
    --cinza-fundo: #444444;
    --modal: #0155A3;
    --gr: #F57600;
    --cinza-claro: #BABABA;
    --branco-fundo: #f9fcfe;


    --fonte-botão: 'Roboto', sans-serif;
    --fonte-corpo: 'Montserrat', sans-serif;
    --fonte-alternativa: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

body {
    font-family: var(--fonte-corpo);
    color: var(--cinza-fundo);
    background-color: var(--branco-fundo);
}


#header {
    padding: 1rem 6.5rem 1rem 3rem;
    display: flex;
    width: 100%;
    align-items: center;
    height: 64px;
    justify-content: space-between;
    background-color: #F9FCFE;
    box-shadow: 0px 4px 2px #BABABA;
    position: fixed;
    z-index: 9999;
}

#btn-mobile {
    display: none;
}

#title-menu {
    font-size: 16.5px;
}

#title-menu .mark {
    color: var(--Amarelo-fundo);
}

.ul-logo {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}


#list-menu {
    display: flex;
    list-style: none;
}

#list-menu a {
    color: var(--cinza-fundo);
    display: block;
    padding-left: 3rem;
    text-decoration: none;
    font-size: 1rem;
}

#list-menu a:visited {
    color: var(--cinza-fundo);
}

#list-menu a:hover {
    color: var(--Amarelo-fundo);
    transition: .2s;
}


/* Home ==========================================*/

.home-container {
    padding-top: 9.75rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'list img '
        'socials img '
        '.  img';
}

.imagens-home {
    max-width: 400px;
    grid-column: 2;
    grid-row: 1;
    grid-area: img;
}

.mancha-amarela {
    position: absolute;
    top: 110px;
    width: 168px;
    z-index: 10;

}


.list-home {
    grid-area: list;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    padding-left: 12.5rem;
    list-style: none;

}

.paragrafos-home {
    display: flex;
}

div.container-socials {
    max-width: 600px;
}

.bem-vindo {

    font-family: var(--fonte-corpo);
    font-size: 3.3vw;
    font-weight: bold;
    cursor: default;

}

.apresentacao {
    display: inline;
    width: auto;
    height: auto;
    font-family: var(--fonte-corpo);
    font-weight: bold;
    font-size: 5vw;
    cursor: default;
}

.apresentacao2 {

    color: var(--Amarelo-fundo);
    font-family: var(--fonte-corpo);
    font-weight: bold;
    min-width: 375px;
    width: 37.5rem;
    font-size: 5vw;
    cursor: default;
}

.apresentacao3 {
    font-family: var(--fonte-corpo);
    font-weight: bold;
    font-size: 1.66vw;
    padding-bottom: 1.5rem;
    cursor: default;
}

img.logo-esquilo {
    display: inline-block;
    align-self: center;
    margin-left: 1.31rem;
    width: 3vw;
    height: auto;
}

.imagem-jony {
    width: 100%;
}

.list-socials {
    padding-left: 12.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-area: socials;
    width: 100%;
}

.icons {
    align-items: center;
}

li.pixels {
    display: inline-block;
    padding: 0px 1.5px;
    height: 3.5rem;
}



.btn-download {
    display: block;
    font-weight: 400;
    color: var(--cinza-fundo);
    grid-column: 2;
    text-decoration: none;
    padding: .5rem 1rem;
    border: 1px solid var(--cinza-fundo);
    border-radius: 0.25rem;
    font-family: var(--fonte-botão);
    font-size: 1em;
}

.button a:hover {
    background-color: var(--Amarelo-fundo);
    color: #F9FCFE;
    transition: .3s ease;
}

.button {
    gap: 2px;
    display: grid;
    grid-template-columns: 16px 1fr;
    padding-left: 1.5rem;
}

.button .pixel1 {
    grid-row: 1;
    grid-column: 2;
}

.button .pixel2 {
    grid-column: 1;
    grid-row: 2;

}

.icons:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--cinza-fundo);
    transition: .1s ease;
}


/* Sobre --============================================== */

section.sobre-container {
    background-color: var(--Amarelo-fundo);
    display: flex;
    width: 100%;
    height: 51rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12.25rem;
    cursor: default;

}

.mancha-sobre {
    position: absolute;
    right: 0;
}

.imagem-sobre {
    width: 100%;
    min-width: 375px;
    height: auto;
    padding-left: 2.81rem;
    margin-top: 6.93rem;


}

.title-sobre {
    font-size: 4.5rem;
    margin: 8.43rem 0px 2.87rem 4.56rem;

}

.conteudo-sobre .sobre-text {

    max-width: 595px;
    height: auto;
    margin: 0px 11.5rem 0px 4.28rem;
    text-align: left;
    text-indent: 18px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;

}

span.textmark {
    color: var(--modal);
}

span.textmark1 {
    color: var(--gr);
}

span.textmark2 {
    background-color: var(--cinza-fundo);
    color: var(--Amarelo-fundo);
    padding: 0px 3px;
}

/* EXPERIÊNCIAS ==================================*/

#XP {
    background-color: #f9fcf3;
    ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4.18rem 2.68rem 0px 6rem;


}

.box-exp {
    max-width: 695px;
    grid-column: 1/1;
    grid-row: 1/1;
}

.xp-title {
    font-size: 4.5rem;
}

.xp-conteudo {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.title-project {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
}

.container-projeto {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--Amarelo-fundo);
    box-shadow: 1rem 1rem 0px var(--cinza-fundo);
    border-radius: 1rem;

}

.logo-container {
    display: flex;
    width: 100%;
    padding: .5rem 0rem 1.5rem 0rem;

}

.img-project {

    padding: 0rem 1rem;

}

.logo-container .freepass {
    padding-right: 3rem;
}

.imagemxp-container {
    grid-column: 3/3;
    grid-row: 1/1;
}

.imagemxp-jony {
    width: auto;
    height: 500px;
}

.box2 {
    grid-column: 1;
    grid-row: 2;
    padding-top: 1.5rem;
}

.box2 .xp-title {
    font-size: 2.25rem;
    padding: 1.25rem 0px;
}

/*FORMAÇÃO==============================================*/

section.formacao-container {
    display: flex;
    width: 100%;
    height: 4035px;
    margin-top: 126px;
    flex-flow: column;
    align-items: center;
    background-position: center center;
    background-color: var(--cinza-fundo);
    background-image: url('/Jony-portifolio/imagens/fomacao-borda2.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.formacao-conteudo {
    max-width: 665px;

}

.title-formacao {
    display: block;
    padding-top: 200px;
    font-size: 4.5rem;
    color: var(--Amarelo-fundo);
}

.subtitle-formacao {
    padding: 3.5rem 0px 2rem 0px;
    color: var(--Amarelo-fundo);
    text-align: center;
    font-size: 3rem;
}

div.box-conteudo {
    width: 665px;
    background-color: var(--branco-fundo);
    padding: 16px;
    border-radius: 8px;
    display: flex;
}

.title-box {
    font-size: 2.25rem;
    font-weight: 400;
    padding: 0px 0px 10px 1rem;
}

.text-box {
    padding-left: 1rem;
    font-size: 1.25rem;
}

.box-text {
    font-family: serif;
}

.logo-formacoes {
    border: 4px solid var(--cinza-fundo);
    border-radius: 4px;
    width: 20%;
}

/* BOX Formações =================================================*/

div.alura {
    margin-top: 1.5rem;
}

div.alura .box-text h3 {
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-size: 1.25rem;

}

div.alura .box-text p {
    font-family: var(--fonte-corpo);
}

.curso-udemy {
    border: none;
}

.USP img {
    border: none;
}

.callep img {
    border: none;
    border-radius: 25px;
}

.title-udemy {
    padding: 0 1rem;
}

.box-text .cursos-fora {
    font-size: 2.25rem;
    font-family: serif;
}

.outros-cursos .box-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*FOOTER ===========================================*/

footer.joinha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-joinha {
    padding-top: 8rem;
}

footer p.agradecimento {
    padding: 3.5rem 0px 5rem 0px;
    color: var(--Amarelo-fundo);
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 1250px) {

    .imagemxp-jony {
        display: none;

    }

    #XP {
        background-color: var(--branco-fundo);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    xp-title {
        text-align: center;
        font-size: 4.5rem;
    }

    section.formacao-container {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 126px;
        flex-flow: column;
        align-items: center;
        background-color: var(--cinza-fundo);
        background-position: center center;
        background-image: url(/Jony-portifolio/imagens/fomacao-borda2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1150px) {

    img.mancha-sobre {
        display: none;
    }

    .mancha-amarela {
        position: absolute;
        top: 110px;
        width: 10%;
        z-index: 10;
        max-width: 200px;
    }

    .conteudo-sobre .sobre-text {
        max-width: 600px;
        height: auto;
        margin: 3px 4.5rem 0px 4.28rem;
        text-align: justify;
        text-indent: 18px;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 2rem;
    }

    .imagemxp-jony {
        display: none;
    }

    section.formacao-container {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 126px;
        flex-flow: column;
        align-items: center;
        background-color: var(--cinza-fundo);
        background-position: center center;
        background-image: url(/Jony-portifolio/imagens/fomacao-borda2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer p.agradecimento {
        padding: 3.5rem 0px 15rem 0px;
        color: var(--Amarelo-fundo);
        text-align: center;
        font-size: 2rem;
    }
}

@media (max-width:1000px) {

    /*HEADER ======================================================*/
    #header {
        padding: 1rem 2.5rem 1rem 1rem;

    }

    /*Home =======================================================*/

    .list-home {
        grid-area: list;
        display: flex;
        flex-flow: column wrap;
        height: auto;
        padding-left: 5rem;
        list-style: none;
    }

    .list-socials {
        padding-left: 5rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-area: socials;
        max-width: 375px;
    }

    .icons {
        align-items: center;
        width: 100%;
    }

    .btn-download {
        display: block;
        font-weight: 400;
        color: var(--cinza-fundo);
        grid-column: 2;
        text-decoration: none;
        padding: .5rem 1rem;
        border: 1px solid var(--cinza-fundo);
        border-radius: 0.25rem;
        font-family: var(--fonte-botão);
        font-size: 15px;
    }

    li.button {
        padding-left: 0;
    }

    img.pixel1 {
        width: 15px;
    }

    img.pixel2 {
        width: 12px;
    }

    .bem-vindo {

        font-family: var(--fonte-corpo);
        font-size: 3em;
        font-weight: bold;
        cursor: default;

    }

    .apresentacao {
        display: inline;
        width: auto;
        height: auto;
        font-family: var(--fonte-corpo);
        font-weight: bold;
        font-size: 3em;
        cursor: default;
    }

    .apresentacao2 {

        color: var(--Amarelo-fundo);
        font-family: var(--fonte-corpo);
        font-weight: bold;
        min-width: 375px;
        width: 37.5rem;
        font-size: 3.5em;
        cursor: default;
    }

    .apresentacao3 {
        font-family: var(--fonte-corpo);
        font-weight: bold;
        font-size: 1em;
        padding-bottom: 1.5rem;
        cursor: default;
    }

    img.logo-esquilo {
        display: inline-block;
        align-self: center;
        margin-left: .5rem;
        width: 30px;
        height: auto;
    }

    /*Sobre ===========================================================*/
    section.sobre-container {
        background-color: var(--Amarelo-fundo);
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: normal;
        text-align: center;
        align-items: center;
        margin-top: 12.25rem;
        padding: 3rem 0px;
        cursor: default;
    }


    .imagem-sobre {
        max-width: 375px;
        padding: 50px 0px 0px 0px;
        margin: 0;
    }

    .title-sobre {
        font-size: 3.5rem;
        text-align: center;
        margin: 0;
    }


    .conteudo-sobre .sobre-text {
        max-width: 100%;
        height: auto;
        margin: 0;
        text-align: justify;
        text-indent: 18px;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 2.5rem;
        margin: 5px 5px 50px 5px;
    }

    .conteudo-sobre {
        padding-top: 30px;
        max-width: 600px;
    }

    .mancha-sobre {
        display: none;
        position: none;
    }


    /*Experiencias ===========================================================*/


    #XP {
        background-color: var(--branco-fundo);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .xp-title {
        padding-top: 40px;
        font-size: 4.5rem;
        margin: 0 auto;
    }

    .box-exp {
        max-width: 695px;
        display: flex;
        flex-direction: column;

    }

    .imagemxp-jony {
        display: none;
    }

    /*Formacao ==========================================================*/
    section.formacao-container {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 126px;
        flex-flow: column;
        align-items: center;
        background-color: var(--cinza-fundo);
        background-position: center center;
        background-image: url(/Jony-portifolio/imagens/fomacao-borda2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer p.agradecimento {
        padding: 3.5rem 0px 15rem 0px;
        color: var(--Amarelo-fundo);
        text-align: center;
        font-size: 2rem;
    }
}


@media (max-width: 850px) {
    #btn-mobile {
        display: flex;
        padding: .5rem 0rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;

    }

    #hamburguer {
        width: 20px;
        color: var(--cinza-fundo);
        border-top: 2px solid;
        display: block;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s ease;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .imagem-jony {
        display: none;
    }

    #header {
        padding: 1rem 2.5rem 1rem 1rem;
        display: flex;
        width: 100vw;
        align-items: center;
        height: 64px;
        justify-content: space-between;
        background-color: #F9FCFE;
        box-shadow: 0px 4px 2px #BABABA;
        position: fixed;
        z-index: 40;
    }

    #list-menu a {
        padding: 2rem 0px;
        color: var(--cinza-fundo);
        text-align: center;
        border-bottom: 1px solid #dfdddd85;
    }


    #list-menu {
        position: absolute;
        display: block;
        z-index: 999;
        background-color: var(--branco-fundo);
        height: 0px;
        top: 60px;
        right: 0px;
        width: 100%;
        transition: .6s;
        text-decoration: none;
        font-size: 1rem;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #list-menu {
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }


    /* EXPERIENCIA ===================================================================*/

    .container-projeto {
        display: flex;
        width: 90%;
        flex-flow: column wrap;
        background-color: var(--Amarelo-fundo);
        box-shadow: 1rem 1rem 0px var(--cinza-fundo);
        border-radius: 1rem;
    }

    .box-exp {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
        flex-direction: column;
    }

    .xp-title {
        padding: 40px 0px;
        font-size: 3rem;
        margin: 0 auto;
    }

    .xp-conteudo {
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 600;
    }

    .title-project {
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem 1rem;
    }

    .logo-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0.5rem 0rem 1.5rem 0rem;
    }

    .logo-container .freepass {
        padding-right: 0px;
    }

    .img-project {
        padding: 10px;
    }

    .box2 .xp-title {
        text-align: center;
    }

    /* FORMACAO ===================================================================*/

    section.formacao-container {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 6rem;
        flex-flow: column;
        align-items: center;
        background-color: var(--cinza-fundo);
        background-position: center center;
        background-image: url(/Jony-portifolio/imagens/fomacao-borda.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .formacao-conteudo {
        /* max-width: 665px; */
        width: 90%;
    }

    .title-formacao {
        display: block;
        padding-top: 5rem;
        font-size: 3.5rem;
        text-align: center;
        color: var(--Amarelo-fundo);
    }

    .subtitle-formacao {
        padding: 3.5rem 0px 2rem 0px;
        color: var(--Amarelo-fundo);
        text-align: center;
        font-size: 2rem;
    }

    div.box-conteudo {
        width: 100%;
        background-color: var(--branco-fundo);
        padding: 5px;
        border-radius: 8px;
        display: flex;
    }

    .logo-formacoes {
        width: 30%;
        border: 4px solid var(--cinza-fundo);
        border-radius: 4px;
    }

    .curso-udemy {
        border: none;
    }

    .title-box {
        font-size: 2.5rem;
        font-weight: 400;
        padding: 0px 0px 10px 1rem;
    }

    .text-box {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    div.alura .box-text h3 {
        font-family: var(--fonte-corpo);
        font-weight: 600;
        font-size: 1.5rem;
    }

    div.alura .box-text p {
        font-family: var(--fonte-corpo);
        font-size: 1.5rem;
    }

    .box-text .cursos-fora {
        font-size: 2.25rem;
        font-family: serif;
    }

    footer p.agradecimento {
        padding: 3.5rem 0px 15rem 0px;
        color: var(--Amarelo-fundo);
        text-align: center;
        font-size: 2rem;
    }
}

@media(max-width: 600px) {

    #header {
        padding: 1rem 1.5rem 1rem 1rem;
    }

    .imagem-jony {
        display: none;
    }

    .home-container {
        padding: 9.75rem 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    .mancha-amarela {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20%;
        z-index: 10;
        max-width: 200px;
    }

    .list-home {
        display: flex;
        flex-flow: column;
        height: auto;
        align-items: center;
        width: 100%;
        padding: 0px;
        list-style: none;
    }

    .bem-vindo {
        font-family: var(--fonte-corpo);
        font-size: 3em;
        font-weight: bold;
        cursor: default;
    }

    .apresentacao {
        display: inline;
        width: auto;
        height: auto;
        font-family: var(--fonte-corpo);
        font-weight: bold;
        font-size: 3em;
        cursor: default;

    }

    .apresentacao2 {
        color: var(--Amarelo-fundo);
        font-family: var(--fonte-corpo);
        font-weight: bold;
        font-size: 3em;
        cursor: default;
        text-align: center;
        width: auto;
    }

    .apresentacao3 {
        font-size: 1.2em;

    }

    .list-socials {
        padding: 2rem 1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .btn-download {
        display: block;
        font-weight: 400;
        color: var(--cinza-fundo);
        text-decoration: none;
        padding: 0.5rem 1rem;
        border: 1px solid var(--cinza-fundo);
        border-radius: 0.25rem;
        font-family: var(--fonte-botão);
        font-size: 20px;
    }

    /*Sobre =====================================================================*/

    section.sobre-container {
        margin-top: 6rem;

    }

    .title-sobre {
        font-size: 2.5rem;
        text-align: center;
    }

    .conteudo-sobre .sobre-text {
        height: auto;
        text-align: justify;
        text-indent: 18px;
        font-size: 1.25em;
        font-weight: 600;
        line-height: 2.5rem;
        margin: 5px 20px 50px 20px;
    }

    /*Experiencias =================================================================*/

    .container-projeto {
        display: flex;
        width: 90%;
        flex-flow: column wrap;
        background-color: var(--Amarelo-fundo);
        box-shadow: 1rem 1rem 0px var(--cinza-fundo);
        border-radius: 1rem;
    }

    .box-exp {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
        flex-direction: column;
    }

    .xp-title {
        padding: 40px 0px;
        font-size: 3rem;
        margin: 0 auto;
    }

    .xp-conteudo {
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 600;
    }

    .title-project {
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem 1rem;
    }

    .logo-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0.5rem 0rem 1.5rem 0rem;
    }

    .logo-container .freepass {
        padding-right: 0px;
    }

    .img-project {
        padding: 10px;
    }

    .box2 .xp-title {
        text-align: center;
    }

    /*Formação ======================================================*/

    section.formacao-container {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 6rem;
        flex-flow: column;
        align-items: center;
        background-color: var(--cinza-fundo);
        background-position: center center;
        background-image: url(/Jony-portifolio/imagens/fomacao-borda.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .formacao-conteudo {
        /* max-width: 665px; */
        width: 90%;
    }

    .title-formacao {
        display: block;
        padding-top: 5rem;
        font-size: 3.5rem;
        text-align: center;
        color: var(--Amarelo-fundo);
    }

    .subtitle-formacao {
        padding: 3.5rem 0px 2rem 0px;
        color: var(--Amarelo-fundo);
        text-align: center;
        font-size: 2rem;
    }

    div.box-conteudo {
        /* width: 665px; */
        width: 100%;
        background-color: var(--branco-fundo);
        padding: 5px;
        border-radius: 8px;
        display: flex;
    }

    .logo-formacoes {
        width: 30%;
        border: 4px solid var(--cinza-fundo);
        border-radius: 4px;
    }

    .curso-udemy {
        border: none;
    }

    .title-box {
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0px 0px 10px 1rem;
    }

    .text-box {
        padding-left: 1rem;
        font-size: 1.2rem;
    }

    div.alura .box-text h3 {
        font-family: var(--fonte-corpo);
        font-weight: 600;
        font-size: 1rem;
    }

    div.alura .box-text p {
        font-family: var(--fonte-corpo);
        font-size: 1rem;
    }

    .box-text .cursos-fora {
        font-size: 1.25rem;
        font-family: serif;
    }

    footer p.agradecimento {
        padding: 3.5rem 0px 15rem 0px;
        color: var(--Amarelo-fundo);
        text-align: center;
        font-size: 2rem;
    }

    [data-anime] {
        opacity: 0;
        width: 70%;
        transition: .1s ease;
    }

    [data-anime="left"] {
        transform: translate3d(-50px, 0, 0);

    }

    [data-anime="top"] {
        transform: translate3d(0, -50px, 0);

    }

    [data-anime="right"] {
        transform: translate3d(50px, 0, 0);

    }

    [data-anime].animate {
        opacity: 1;
        width: 100%;
        transform: translate3d(0px, 0px, 0px);
    }

}

@media (min-width: 1600px) {

    .home-container {
        max-width: 1440px;
        margin: 0 auto;

    }

    .imagem-jony {
        width: auto;
    }

    .mancha-amarela {
        top: 110px;
        left: 0px;
    }

    .apresentacao2 {
        width: auto;
        font-size: 4vw;

    }

    .title-sobre {
        margin: 8.43rem 0px 1.87rem 9.18rem;
    }

    .conteudo-sobre .sobre-text {
        max-width: 600px;
        margin-left: 8.56rem;
        margin-right: 0px;
        line-height: 2rem;
    }

    .imagem-sobre {
        width: auto;
        margin-left: 0px;
    }



    section.sobre-container {
        background-color: var(--Amarelo-fundo);
        display: flex;
        height: 51rem;
        justify-content: center;
        margin-top: 18.25rem;
    }

    .mancha-sobre {
        display: block;
        right: 0;
    }

    #XP {
        background-color: #f9fcf3;
        display: grid;
        max-width: 1440px;
        margin: 4.18rem auto;
        grid-template-columns: 1fr 1fr;
    }

    .imagemxp-jony {
        width: auto;
        height: auto;
    }

    section.formacao-container {
        max-width: 1440px;
        height: 4035px;
        margin: 126px auto 0px auto;

    }
}

[data-anime] {
    opacity: 0;
    transition: .2s ease;
}

[data-anime="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="right"] {
    transform: translate3d(5px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}